@page "/"

<h1>Welcome!</h1>
<p> This application contains a variety of simple games implementated in Blazor WebAssembly.</p>

<h2>Choose your game:</h2>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/Minesweeper.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Minesweeper</h5>
        <p class="card-text">Traditional minesweeper game - choose small, medium or large.</p>
        <a href="minesweeper" class="btn btn-primary">Play</a>
    </div>
</div>
