@page "/minesweeper"

<h1>Minesweeper</h1>

<div style="padding-bottom: 1rem">
    <button class="btn btn-secondary" @onclick="StartSmallGame">Small</button>
    <button class="btn btn-secondary" @onclick="StartMediumGame">Medium</button>
    <button class="btn btn-secondary" @onclick="StartLargeGame">Large</button>
</div>

@if (GameStarted) {
    @for (var row = 0; row < _board.Tiles.GetLength(0); row++)
    {
        <div class="btn-group">
            @for (var col = 0; col < _board.Tiles.GetLength(1); col++)
            {
                <button class="btn btn-default btn" @onclick="_board.Tiles[row, col].Click">@(_board.Tiles[row, col].IsMine ? "T" : "F")</button>
            }
        </div>
    }
}

@code {
    private MinesweeperBoard _board { get; set; }
    private bool GameStarted { get; set; }

    private void StartSmallGame()
    {
        StartGame(10, 10, 10);
    }

    private void StartMediumGame()
    {
        StartGame(16, 16, 40);
    }

    private void StartLargeGame()
    {
        StartGame(16, 30, 99);
    }

    private void StartGame(int numRows, int numCols, int numMines)
    {
        _board = new MinesweeperBoard(numRows, numCols);
        _board.AddMines(numMines);
        GameStarted = true;
    }
}
